<h1>New Drink</h1>

<ul>
  <% for message in @drinks.errors.full_messages %>
    <font color="red"><li><%= message %></li></font>
  <% end %>
</ul>

<%= form_for(@drinks) do |form| %>
  <p>
    <%= form.label(:name) %><br>
    <%= form.text_field(:name) %><br>
  </p>
  <p>
    <%= form.label(:creator) %><br>
    <%= form.text_field(:creator) %><br>
  </p>
  <p>
    <% for ingredient in @ingredients %>
      <%= form.check_box(:selection[ingredient.id]) %>
      <%= form.label(:selection[ingredient.id], "#{ingredient.name}") %>
      <br>
    <% end %>
  </p>
  <%= form.submit("Create Drink") %>
<% end %>
