<h1>New Drink</h1>

<ul>
  <% for message in @drinks.errors.full_messages %>
    <font color="red"><li><%= message %></li></font>
  <% end %>
</ul>

<%= form_for(@drinks) do |form| %>
  <p>
    <%= form.label(:name) %><br>
    <%= form.text_field(:name) %><br>
  </p>
  <p>
    <%= form.label(:creator) %><br>
    <%= form.text_field(:creator) %><br>
  </p>
  <p>
    Ingredients <br>
    <%= form.collection_check_boxes(:ingredient_ids, @ingredients, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text} %><br>
    <% end %>
  </p>
  <%= form.submit("Create Drink") %>
<% end %>
