<h1>New Animal</h1>

<ul>
  <% for message in @animal.errors.full_messages %>
  <font color="red"><li><%= message %></li></font>
  <% end %>
</ul>

<%= form_for(@animal) do |form| %>
  <p>
    <%= form.label(:name) %><br>
    <%= form.text_field(:name) %><br>
  </p>
  <p>
    <%= form.label(:age) %><br>
    <%= form.text_field(:age) %><br>
  </p>
  <p>
    <%= form.label(:kind) %><br>
    <%= form.text_field(:kind) %><br>
  </p>
  <p>
    <%= form.label(:weight) %><br>
    <%= form.text_field(:weight) %> <%= form.select(:units, "<option>pounds</option><option>kilograms</option>".html_safe) %><br>
  </p>
  <p>
    <%= form.label(:favorite_food) %><br>
    <%= form.select(:favorite_food, "<option>treats</option><option>fish</option><option>crackers</option><option>meat</option><option>other</option>".html_safe) %><br>
  </p>
  <%= form.submit("Create Animal") %>
<% end %>
