<h1>Edit Animal</h1>

<ul>
  <% for message in @animal.errors.full_messages %>
  <font color="red"><li><%= message %></li></font>
  <% end %>
</ul>

<%= form_for(@animal) do |form| %>
  <p>
    <%= form.label(:name) %><br>
    <%= form.text_field(:name) %><br>
  </p>
  <p>
    <%= form.label(:age) %><br>
    <%= form.text_field(:age) %><br>
  </p>
  <p>
    <%= form.label(:kind) %><br>
    <%= form.text_field(:kind) %><br>
  </p>
  <p>
    <%= form.label(:favorite_food) %><br>
    Other: <%= form.text_field(:favorite_food) %>
  </p>
  <%= form.submit("Save Changes") %>
<% end %>
