<h1><%= @animals.name %></h1>
<br>
<h3>
  <%= @animals.name %> is a <%= @animals.age %> year old <%= @animals.kind %> whose favorite food is <%= @animals.favorite_food %>.
</h3>
<%= link_to "Edit Animal", edit_animal_path() %>
<br>
<%= link_to "See All Animals", animals_path() %>
