<h1><%= @animal.name %></h1>
<br>
<h3>
  <%= @animal.name %> is a <%= @animal.age %> year old <%= @animal.kind %> whose favorite food is <%= @animal.favorite_food %>.<br>
  <%= @animal.name %> weighs <%= @animal.weight %> <%= @animal.units %>.
</h3>
